# DATABASE_URL="postgresql://bms_user:BMSADB123!@148.230.97.68:5432/bms_db?sslmode=disable"
DATABASE_URL="postgresql://bms_user:BMSADB123!@localhost:5433/bms_db?sslmode=disable"

PORT=4000
NEXTAUTH_SECRET=USbERWU9hJm4GZuDq9NpbfjAnJ7zOfD+QT7VL6R7OeA=
NEXTAUTH_URL=http://localhost:4000
APP_URL=http://localhost:3001    # origin FE, dipakai buat link di email reset password

RESEND_API_KEY=re_xxxxxxxxxxxxxxxx
EMAIL_FROM="BMS Dashboard <onboarding@resend.dev>"

# MQTT_BROKER_URL="mqtt://localhost:1883"
MQTT_BROKER_URL="mqtt://148.230.97.68:1885"
# MQTT_USERNAME="backend_service"
# MQTT_PASSWORD="PASSWORD_BACKEND"

GMAIL_USER=adbbms2026@gmail.com
GMAIL_APP_PASSWORD=ghsuhyztcitujxor